@page
@using Microsoft.Extensions.Localization;
@using System.Reflection;
@model LoginModel
@inject IStringLocalizer Localizer

@{
  ViewData["Title"] = "Log in";
}


<div class="align-flex-center">
  <div class="grid-container ">

    <div class="info-container justify-center">
      <div class="app-name">TemplateApp</div>
      <div class="main-background"></div>
      <div class="app-info">
        <span>
          © 2016—<span>@DateTime.Now.Year</span> MCC Soft GmbH + Co. KG
        </span>
        <span>
          Server-Version: <span>@Assembly.GetEntryAssembly().GetName().Version.ToString(3)</span>
        </span>
      </div>
    </div>

    <div class="login-container">
      <form method="post">

        <div class="input-container">
          <div class="title-container">
            <div class="title">
              <label asp-for="Input.Email">@Localizer["Frontend:Page.Login.login_field"]</label>
            </div>
          </div>
          <div class="field">
            <div class="inputContainer">
              <input asp-for="Input.Email" class="input" autocomplete="username" aria-required="true"/>

              <span asp-validation-for="Input.Email" class="text-danger"></span>

            </div>
          </div>
        </div>

        <div class="input-container">
          <div class="title-container">
            <div class="title">
              <label asp-for="Input.Password">@Localizer["Frontend:Page.Login.password_field"]</label>
            </div>
          </div>
          <div class="field">
            <div class="inputContainer">
              <input asp-for="Input.Password" class="input" autocomplete="current-password" aria-required="true"/>
              <div class="passwordEye passwordEyeOpen" onclick="togglePassword()">
                <img id="Password_Eye" class="passwordEyeImage" src="/resources/password-eye.svg">
              </div>
              <span asp-validation-for="Input.Password" class="text-danger"></span>
              <div class="summary-valid-container">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="button-container">
          <button id="login-submit" type="submit" class="button default-button content-button">
            @Localizer["Frontend:Page.Login.login_button"]
          </button>
        </div>
      </form>
      <div class="social-buttons-container">
        <form id="external-account" asp-controller="OpenIdAuthorization" asp-action="ExternalRedirect" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal social-login-form">
          <button type="submit" class="button default-button content-button" name="provider" value="OpenIdConnect">
            Google
          </button>
        </form>
      </div>
      </div>
  </div>

</div>


@* <div class="row"> *@
@*   <div class="col-md-4"> *@
@*     <section> *@
@*       <h2>Use a local account to log in.</h2> *@
@*       <hr/> *@
@*       <div class="form-floating"> *@
@*       </div> *@
@*       <div class="form-floating"> *@
@* *@
@*       </div> *@
@*       <div> *@
@*         <div class="checkbox"> *@
@* *@
@*         </div> *@
@*       </div> *@
@*       <div> *@
@*         <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button> *@
@*       </div> *@
@*       <div> *@
@*         <p> *@
@*           <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a> *@
@*         </p> *@
@*         <p> *@
@*           <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a> *@
@*         </p> *@
@*         <p> *@
@*           <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a> *@
@*         </p> *@
@*       </div> *@
@*     </section> *@
@*   </div> *@
@*   <div class="col-md-6 col-md-offset-2"> *@
@*     <section> *@
@*       <h3>Use another service to log in.</h3> *@
@*       <hr/> *@
@*       @{ *@
@*         if ((Model.ExternalLogins?.Count ?? 0) == 0) *@
@*         { *@
@*           <div> *@
@*             <p> *@
@*               There are no external authentication services configured. See this *@
@*               <a href="https://go.microsoft.com/fwlink/?LinkID=532715"> *@
@*                 article *@
@*                 about setting up this ASP.NET application to support logging in via external services *@
@*               </a>. *@
@*             </p> *@
@*           </div> *@
@*         } *@
@*         else *@
@*         { *@
@*           <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal"> *@
@*             <div> *@
@*               <p> *@
@*                 @foreach (var provider in Model.ExternalLogins) *@
@*                 { *@
@*                   <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button> *@
@*                 } *@
@*               </p> *@
@*             </div> *@
@*           </form> *@
@*         } *@
@*       } *@
@*     </section> *@
@*   </div> *@
@* </div> *@

@section Scripts {
  <partial name="_ValidationScriptsPartial"/>

  <script>
    function togglePassword() {
      const passwordInput = document.getElementById('Input_Password');
      const passwordEye = document.getElementById('Password_Eye');
      if (passwordInput.type === "password") {
          passwordInput.type = "text";
          passwordEye.src = "/resources/password-eye-hidden.svg";

        } else {
          passwordInput.type = "password";
          passwordEye.src = "/resources/password-eye.svg";
        }
      }
    jQuery(() => {
      jQuery("form").each(function () {
        var validator = jQuery(this).data("validator");
        if (validator?.settings) {
          validator.settings.submitHandler = function (form) {
            onFormSubmit(form);
            form.submit();
          };
        } else {
          this.onsubmit = function () {
            onFormSubmit(jQuery(this));
          };
        }
      });
    });

    function onFormSubmit(form) {
      setTimeout(()=>{jQuery('button', form).attr('disabled', 'disabled');});
      document.body.style = document.body.style + '; opacity: 0.5';
    }
  </script>
}
